.cardWrapper {
    display: flex;  
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
}

.cardWrapper .MuiCardActions-root {
    position: absolute;
    right: 0; 
    display: flex;
    flex-direction: column-reverse;
}
 .MuiCardHeader-root {
text-align: left;
}

/* min-height: 215px;
border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px; */

.card-main-wrapper{
    padding: 30px 35px 10px 35px;
    display: flex;
    column-gap: 20px;
   
}

.file-card-wrapper .css-bhp9pd-MuiPaper-root-MuiCard-root{
    min-height: 220px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.css-1807xm1-MuiPaper-root-MuiCard-root{
border-radius: 12px !;
}
.card-box {
    border-top: 6px solid #ff8100;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 220px;
}

.card-box .css-1807xm1-MuiPaper-root-MuiCard-root{
    min-height: 215px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}


.card-footer{
    background: #b3b3b336;
    padding: 10px 20px;
    
}


.css-8xu60g-MuiGrid-root{
    width: unset;
}

.heading{
    background-color: #ff8100;
    padding: 8px;
    margin: 10px;
    border-radius: 12px;
    text-align: center;
    border-color: white;
}

.editor{
    margin: 15px;
}
