

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px 35px;
}

.navbar-wrapper {
    margin: 0;
    box-shadow: 3px 4px 7px #e1e1e1
}

.grid-switch-wraper{
    display: flex;
    justify-content: end;
    align-items: center;
   
}

.header-wrapper header{
  background-color: #ff8100;
  box-shadow: none;
}


.grid-switch-wraper .switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 30px;
  }
  
  .grid-switch-wraper .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .grid-switch-wraper .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .grid-switch-wraper .slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .grid-switch-wraper input:checked + .slider {
    background-color: #ff8100;
  }
  
  .grid-switch-wraper input:focus + .slider {
    box-shadow: 0 0 1px #ff8100;
  }
  
  .grid-switch-wraper input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .grid-switch-wraper .slider.round {
    border-radius: 34px;
  }
  
  .grid-switch-wraper .slider.round:before {
    border-radius: 50%;
  }
  